@charset "utf-8";

#wrap{
    position: relative;
    height: 100dvh;
    min-height: 100svh;
    max-height: 100lvh;
    scrollbar-width: none;
    line-height: 1.5;
}
.closed{
    display: none;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background: var(--primary);
    border-bottom: 1px solid black;
    font-family: 'Chicago Plain';
    z-index: 9999;
}

/* icons */
.icons{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.icons li{
    width: 70px;
    text-align: center;
}
.icons li button{
    font-family: 'pixolde', sans-serif;
    font-size: 10px;
}
.icons li img{
    width: 50px;
    height: 50px;
    /* margin-bottom: 6px; */
}
.icons li+li{
    margin-top: 24px;
}

/* window style */
.window {
    position: absolute;
    width: 550px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: inset -1px -1px 0 0 var(--tertiary), inset 1px 1px 0 0 #fff, 5px 5px 0 #0003;
    background: #fff;
}
.window img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 6px 6px 0 0;
}
.window .title{
  display: flex;
  justify-content: space-between;
  padding: 4px 6px;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  font-size: 15px !important;
  user-select: none;
  cursor: pointer;
  background: var(--primary);
}
.window .title h2{
  font-family: 'Chicago Plain';
}
.window .title button{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.window .content{
    overflow-y: auto;
    max-height: 400px;
    padding: 15px 10px;
    margin: 0 5px 5px 5px;
    scrollbar-width: thin;
    scrollbar-color: #ccc white;
}

/* playlist */
.playlist{
    width: 280px;
    top: 5%;
    left: 1%;
}
.playlist .content{
    border: none;
    line-height: 1.65;
}
.playlist .song-info h4{
    font-size: 11.5px;
}
.playlist .song-info p{
    font-size: 10px;
}
.playlist .playtime{
    font-size: 10px;
}
.playset{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.playset button{
    display: inline-block;
    /* padding: 4px; */
    font-size: 20px;
    background: transparent;
    font-family: 'Material Symbols Rounded';
    /* border-radius: 3px; */
    /* border: 1px solid #000; */
}
.playlist #player{
    display: none;
}

/* profile */
.profile{
    width: 400px;
    top: 2.5%;
    left: 25%;
}
.profile .content ul+ul{
    margin-top: 10px;
}
.profile .skills{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

/* portfolio */
.w3{
    top: 20%;
    left: 40%;
}
.w4{
    top: 35%;
    left: 50%;
    z-index: 99;
}
.w5{
    top: 45%;
    left: 1%;
    z-index: 98;
}
.portfolio .content .category{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0 4px;
}
.portfolio .content .category:first-child{
    margin-top: 0;
}
.portfolio .content .category h3{
    font-size: 15px;
    margin-right: 4px;
}
.portfolio .content .category i{
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    border-bottom: 1px solid #fff;
}
.portfolio .content .list{
    display: flex;
    flex-wrap: wrap;
}
.portfolio .content .list .project{
    width: 45%;
    margin-top: 30px;
}
.portfolio .content .list .project:first-child,
.portfolio .content .list .project:nth-child(2){
    margin-top: 4px;
}
.portfolio .content .list .project:nth-child(odd){
    margin-right: 40px;
}
.portfolio .content .list .project li:last-child{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
/* .portfolio:last-child .content .list .project{
    margin-top: 0;
} */
.portfolio .content .list .project a{
    padding: 5px 14px;
    margin-right: 10px;
    border: 1px solid black;
}
.portfolio .content .list .project a:nth-child(3){
    margin-top: 4px;
}


@media screen and (max-width: 768px) {
    header{
        position: relative;
    }
    #wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    #wrap>*{
        top: auto;
        left: auto;
    }
    .icons{
        display: none;
    }
    .window{
        position: inherit !important;
        width: auto !important;
        height: auto !important;
        inset: auto !important;
    }
    .window:last-child{
        padding-bottom: 20px;
    }
    .window .content{
        max-height: none;
        overflow-y: auto;
    }
    .portfolio .content .list .project{
        width: 100%;
        margin-top: 20px;
    }
    .portfolio .content .list .project:nth-child(2){
        margin-top: 20px;
    }
    .portfolio .content .list .project:nth-child(odd){
        margin-right: 0;
    }
    .portfolio .content .list .project a:nth-child(3){
        margin-top: 0;
    }
}
@media screen and (max-width:500px) {
    .portfolio .content .list .project{
        margin-right: 0;
    }
    .portfolio .content .list .project a:nth-child(2){
        margin-top: 0;
    }
}
@media screen and (max-width:420px){
    .portfolio .content .list .project{
        margin-top: 14px;
    }
    .portfolio .content .list .project li:last-child{
        margin-top: 6px;
    }
    .portfolio .content .list .project a:nth-child(3){
        margin-top: 4px;
    }
}
